<!-- begin hero -->
{% assign c = "c-hero" %}
<section class="{{c}} animate">
  <div class="container">
    <div class="row">
      <div class="col col-12">
        <div class="{{c}}__inner">

          <div class="{{c}}__left">
            <h1 class="{{c}}__title">{{ include.title }}</h1>
            <div class="{{c}}__description">{{ include.description_html }}</div>
            <div class="{{c}}__description">{{ include.subdescription_html }}</div>
            <div class="{{c}}__btn">
              <!-- Keep this here for reference incase we need a primary button someday -->
              <!-- <a href="{{ include.cta_button_link }}" class="cta-button c-button c-button--primary c-button--small">{{ include.cta_button }}</a> -->

              <a class="cta-button c-button c-button--primary c-button--small" href="{{ include.resume_button_link }}" target="_blank">
                {{ include.resume_button }}
              </a>

              <a class="cta-button c-button c-button--secondary c-button--small" href="{{ include.works_button_link }}">
                {{ include.works_button }}
              </a>

              <a class="works-button c-button c-button--tertiary c-button--small" href="{{ include.cta_button_link }}">
                {{ include.cta_button }}
              </a>
            </div>
          </div>

          <div class="{{c}}__right">
            <div class="{{c}}__image">
              <img loading="lazy" src="{{ include.image }}" alt="{{ include.hero_image_alt }}">
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
<!-- end hero -->
