{% assign c = "c-image-card" %}
<article class="{{c}} col col-4 col-d-6 col-t-12">
  <div class="{{c}}__content">
    <a class="{{c}}__image">
      <img loading="lazy" src="{{ include.image.image }}" alt="{{ include.image.title }}">
    </a>
    <div class="{{c}}__info">
      <div class="{{c}}__info-wrap">
        {%if include.image.remove_title %}
        {% else %}
          <h3 class="{{c}}__title">{{ include.image.title }}</h3>
        {% endif %}
      </div>
      <div class="{{c}}__info-wrap">
        {% if include.image.subtitle %}
        <div class="{{c}}__subtitle">{{ include.image.subtitle }}</div>
        {% endif %}
      </div>
    </div>
  </div>
</article>
